<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form method="post">
            <div class="valueInput">
                <label>User Name</label>
                <input type="text" name="email" autocomplete="off" required>
            </div>
            <div class="valueInput">
                <label>Email</label>
                <input type="text" name="email" required>
            </div>
            <div class="valueInput">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>
            <input type="submit" value="Login" class="btnLogin">
        </form>
    </div>
</body>
</html>