<div class="container">
    <h1>Register</h1>
    <form method="POST">
        <div class="valueInput">
            <label>User Name</label>
            <input type="text" name="name" id="name" autocomplete="off" required>
        </div>
        <div class="valueInput">
            <label>Email</label>
            <input type="text" name="email" id="email" required>
        </div>
        <div class="valueInput">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <input type="submit" value="Login" class="btnLogin">
    </form>
</div>